* {
margin: 0;
padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

section, div {
  border: 1px solid transparent;
}


h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-size: 2.5em;
  color: #F6E2CE;
}

.masthead-heading {
  margin-top: -0.2em;
  /*Typography Declarations*/
  font-size: 6em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.02em;
  color: #FF8607;
  text-shadow: 6px 6px 5px #4A4A4A;
}

/*alternate color 00478F*/
.masthead {
    padding: 10em 0;
    border-top: solid 1em #CF4129;
    background-image: url("../img/headercity.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
 }

/*Responsiveness*/
@media only screen and (max-width: 500px) {
    .masthead{
      padding: 3em 0;
    }
    .masthead-heading {
      font-size: 3em;
    }
    .content-footer {
      padding: 1.5em 0;
    }
    h2 {
      font-size: 1.5em;
    }
    .masthead-intro {
      color: #FFFFFF;
    }

    .project {
      max-width: 16em;
      max-height: 250px;
      display: inline-block;
      margin: 1.7em 0;
      vertical-align: top;
    }

    .project img {
      width: 250px;
    }
}

.people-tech-head,
.projects-head {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 0.3em;
  text-align: center;
}

.intro-section {
  background-color: #1A2D3E;
  color: #F6E2CE;
}

.profile-photo-head {
  max-width: 120px;
  margin: 0.3em auto 0 auto;
}

.introduction-expand {
  max-width: 120px;
  padding: 10px 0;
  text-align: center;
  margin: 0 auto;
}

.introduction-content {
  margin: 1.5em auto;
  max-width: 38em;
  display: none;
}

.introduction-content > p,
.design-section > p,
.behavior-section > p,
.policy-section > p {
  margin: 0.8em 0.1em 0.2em 0.1em;
}

.container-1 {
  max-width: 65em;
  margin: 0 auto;
}

.container-2 {
  max-width: 48em;
  margin: 0 auto;
}

.design-section,
.behavior-section,
.policy-section {
  max-width: 18em;
  max-height: 210px;
  display: inline-block;
  margin: 1.7em 1.7em;
  vertical-align: top;
}

.project {
  max-width: 20em;
  max-height: 250px;
  display: inline-block;
  margin: 1.7em 1.7em;
  vertical-align: top;
}

.people-tech-head > h2,
.design-section > h3,
.behavior-section > h3,
.policy-section > h3,
.projects-head > h2,
.content-footer > h3 {  
  margin: 0.1em 0.1em 0 0.1em;
  padding: 0.2em 0;
  /*Tyopgraphy Declarations*/
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

.masthead-intro,
.introduction-content > p, 
.design-section > p,
.behavior-section > p,
.policy-section > p,
.project > p,
.social > li {
  /*Tyopgraphy Declarations*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

.project {
  text-align: center;
}

.project > p {
  margin-top: 1em;
  text-align: center;
}


.content-footer {
  margin-top: 2em;
  padding: 2em 0;
  background-color: #FF8607;
}

.social {
  margin-top: 0.6em;
  list-style-type: none;
}

.social > li {
  display: inline-block;
  padding: 0 1.2em;
}

.social a, .social a:visited {
  text-decoration: none;
  color: black;
}

.social a:hover {
  color: #982C00;
}


