* {
margin: 0;
padding: 0;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.2em;
}

.masthead-heading,
.masthead-intro,
.content-footer {
  text-align: center;
}

.masthead-intro {
  margin-bottom: 0.1em;
  font-size: 2.5em;
  color: #F6E2CE;
}

.masthead-heading {
  margin-top: -0.2em;
  /*Typography Declarations*/
  font-size: 6em;
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.02em;
  color: #FF8607;
  text-shadow: 6px 6px 5px #4A4A4A;
}

.masthead {
    padding: 6em 0;
    border-top: solid 1em #00478F;
    background-image: url("../img/headercity.jpeg"); 
    background-size: cover;
    background-repeat: no-repeat;
 }

/*Responsiveness*/
@media only screen and (max-width: 500px) {
    .masthead{
      padding: 3em 0;
    }
    .masthead-heading {
      font-size: 3em;
    }
    .content-footer {
      padding: 1.5em 0;
    }
    h2 {
      font-size: 1.5em;
    }
    .masthead-intro {
      color: #FFFFFF;
    }
    .introduction-section,
    .design-section,
    .behavior-section,
    .policy-section {
      margin-left: 0.2em;
      margin-right: 0.2em;
    }
}

.people-tech-head,
.design-section,
.behavior-section,
.policy-section,
.projects-head,
.projects-section {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  padding: 0.3em;
}

.introduction-section > p,
.design-section > p,
.behavior-section > p,
.policy-section > p {
  margin: 0.8em 0.1em 0.2em 0.1em;
}

.profile-photo-head {
  float: left;
  width: 24%;
  margin: 3em 4% 6em 4%;
  text-align: center;
  height: 10em;
}

.introduction-section {
  float: right;
  width: 60%;
  margin: 3em 4% 6em 4%;
  max-width: 50em;
  height: 10em;
}


.people-tech-head,
.design-section,
.behavior-section,
.policy-section,
.projects-head,
.projects-section,
.content-footer {
  clear: both;
}

.people-tech-head > h2,
.design-section > h3,
.behavior-section > h3,
.policy-section > h3,
.projects-head > h2,
.content-footer > h3 {  
  margin: 0.1em 0.1em 0 0.1em;
  padding: 0.2em 0;
  /*Tyopgraphy Declarations*/
  font-family: 'Oswald', sans-serif;
  font-weight: 400;
  letter-spacing: 0.04em;
  text-transform: uppercase;
}


.masthead-intro,
.introduction-section > p, 
.design-section > p,
.behavior-section > p,
.policy-section > p,
.karma-clone > p,
.nytimes-hack > p,
.social > li {
  /*Tyopgraphy Declarations*/
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}


.content-footer {
  margin-top: 2em;
  padding: 2em 0;
  background-color: #FF8607;
}

.social {
  margin-top: 0.6em;
  list-style-type: none;
}

.social > li {
  display: inline-block;
  padding: 0 1.2em;
}

.social a, .social a:visited {
  text-decoration: none;
  color: black;
}

.social a:hover {
  color: #982C00;
}